<section id="graficos-todos">
  <div
    class="container arriba"
    style="display: flex; justify-content: space-between"
  >
    <h1 class="titulo">HUELLA DE AGUA DIRECTA</h1>
    <div class="tabla-uf">
      <table style="border: 1px solid black; border-collapse: collapse">
        <thead>
          <tr style="background-color: rgb(86, 220, 86); color: white">
            <!-- Cambiado el color de fondo a verde y el texto a blanco -->
            <th style="border: 1px solid black">UF: AÑO MEDIDO</th>
            <th style="border: 1px solid black">1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td
              colspan="2"
              style="
                border: 1px solid black;
                color: rgb(86, 220, 86);
                font-weight: bold;
              "
            >
              LOS RESULTADOS ESTÁN EXPRESADOS POR UNIDAD FUNCIONAL (UF)
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container-fluid">
    <div class="tablas-entradas-agua">
      <div class="tabla-inventario" style="text-align: center">
        <!-- ENTRADAS DE AGUA -->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 0 auto;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  rowspan="2"
                  style="
                    border: 1px solid black;
                    background-color: rgb(76, 163, 210);
                    color: white;
                    min-width: 250px;
                  "
                >
                  ENTRADAS DE AGUA
                </th>
                <th
                  colspan="3"
                  style="
                    border: 1px solid black;
                    background-color: rgb(13, 49, 73);
                    color: white;
                    min-width: 250px;
                  "
                >
                  INVENTARIO
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  ENTRADA AGUA POTABLE
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  ENTRADA AGUA POZO
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  ENTRADA AGUA SUPERFICIAL
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(76, 163, 210);
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(76, 163, 210);
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  [m3/UF]
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  [m3/UF]
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  [m3/UF]
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entradaDeAgua of data.entrasdaDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ entradaDeAgua.fuente }}
                </td>

                <!-- INVENTARIO -->
                <td style="border: 1px solid black">
                  {{
                    entradaDeAgua.categoria == "ENTRADA AGUA POTABLE"
                      ? entradaDeAgua.total
                      : 0
                  }}
                </td>
                <td style="border: 1px solid black">
                  {{
                    entradaDeAgua.categoria == "ENTRADA AGUA POZO"
                      ? entradaDeAgua.total
                      : 0
                  }}
                </td>
                <td style="border: 1px solid black">
                  {{
                    entradaDeAgua.categoria == "ENTRADA AGUA SUPERFICIAL"
                      ? entradaDeAgua.total
                      : 0
                  }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: rgb(76, 163, 210);
                    color: white;
                  "
                >
                  TOTALES
                </th>

                <td
                  *ngFor="let entradaDeAgua of data.entrasdaDeAgua"
                  style="
                    border: 1px solid black;
                    background-color: rgb(116, 149, 185);
                    color: white;
                    font-weight: bold;
                  "
                >
                  {{
                    data.totales.totalEntradas[entradaDeAgua.categoria].toFixed(
                      6
                    )
                  }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- ENTRADAS DE AGUA % -->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 10px auto;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: rgb(76, 163, 210);
                    color: white;
                    min-width: 250px;
                  "
                >
                  ENTRADAS DE AGUA %
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  ENTRADA AGUA POTABLE
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  ENTRADA AGUA POZO
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  ENTRADA AGUA SUPERFICIAL
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(76, 163, 210);
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(76, 163, 210);
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  %
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  %
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  %
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entradaDeAgua of data.entrasdaDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ entradaDeAgua.fuente }}
                </td>

                <!-- INVENTARIO -->
                <td style="border: 1px solid black">
                  {{
                    entradaDeAgua.categoria == "ENTRADA AGUA POTABLE"
                      ? entradaDeAgua.porcentaje
                      : 0
                  }}%
                </td>
                <td style="border: 1px solid black">
                  {{
                    entradaDeAgua.categoria == "ENTRADA AGUA POZO"
                      ? entradaDeAgua.porcentaje
                      : 0
                  }}%
                </td>
                <td style="border: 1px solid black">
                  {{
                    entradaDeAgua.categoria == "ENTRADA AGUA SUPERFICIAL"
                      ? entradaDeAgua.porcentaje
                      : 0
                  }}%
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- ENTRADAS DE AGUA PUNTO FINAL -->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 100px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #70ad47;
                    color: white;
                    min-width: 250px;
                  "
                >
                  ENTRADAS DE AGUA <br /><small>Punto Final</small>
                </th>
                <th
                  colspan="3"
                  style="
                    border: 1px solid black;
                    background-color: #e2f0d9;

                    min-width: 250px;
                    max-width: 400px;
                  "
                >
                  DISMINUCIÓN DE LA BIODIVERSIDAD DE PLANTAS TERRESTRES DEBIDO A
                  LA EXTRACCIÓN DE AGUA SUBTERRÁNEA (Van Zelm et al. 2011)
                </th>
              </tr>

              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #e2f0d9;
                  "
                >
                  [PDF*m2*año/UF]
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entradaDeAgua of data.entrasdaDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ entradaDeAgua.fuente }}
                </td>

                <!-- INVENTARIO -->
                <td style="border: 1px solid black">
                  {{
                    entradaDeAgua.categoria != "ENTRADA AGUA SUPERFICIAL"
                      ? entradaDeAgua.disminucionBiodiversidadPlantas
                      : 0
                  }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  TOTALES
                </th>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #e2f0d9;
                    font-weight: bold;
                  "
                >
                  {{ data.totales.disminucionBiodiversidadPlantas.toFixed(6) }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

         <!-- ENTRADAS DE AGUA PUNTO FINAL -->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 10px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #70ad47;
                    color: white;
                    min-width: 250px;
                  "
                >
                  ENTRADAS DE AGUA <br /><small>Punto Final</small> %
                </th>
                <th
                  colspan="3"
                  style="
                    border: 1px solid black;
                    background-color: #e2f0d9;

                    min-width: 250px;
                    max-width: 400px;
                  "
                >
                  DISMINUCIÓN DE LA BIODIVERSIDAD DE PLANTAS TERRESTRES DEBIDO A
                  LA EXTRACCIÓN DE AGUA SUBTERRÁNEA (Van Zelm et al. 2011)
                </th>
              </tr>

              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #e2f0d9;
                  "
                >
                  %
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entradaDeAgua of data.entrasdaDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ entradaDeAgua.fuente }}
                </td>

                <!-- INVENTARIO -->
                <td style="border: 1px solid black">
                  {{
                    entradaDeAgua.categoria != "ENTRADA AGUA SUPERFICIAL"
                      ? entradaDeAgua.disminucionBiodiversidadPlantasPorcentaje.toFixed(2)
                      : 0
                  }}%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="tablas-salidas-agua">
      <div class="tabla-inventario" style="text-align: center">


        <!-- SALIDAS DE AGUA -->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 100px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  rowspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #ffe699;
                    min-width: 250px;
                  "
                >
                  SALIDAS DE AGUA
                </th>
                <th
                  colspan="3"
                  style="
                    border: 1px solid black;
                    background-color: rgb(13, 49, 73);
                    color: white;
                    min-width: 250px;
                  "
                >
                  INVENTARIO
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  SALIDA AGUA DESCARGADA
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  SALIDA AGUA INFILTRADA
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  AGUA DULCE CONSUMIDA (HUELLA AZUL - WFN)
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #ffe699;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #ffe699;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  [m3/UF]
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  [m3/UF]
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  [m3/UF]
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salidaDeAgua of data.salidasDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.nombre }}
                </td>

                <!-- INVENTARIO -->
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.categoria == "SALIDA AGUA DESCARGADA"
                      ? salidaDeAgua.total.toFixed(6)
                      : 0
                  }}
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.categoria == "SALIDA AGUA INFILTRADA"
                      ? salidaDeAgua.total.toFixed(6)
                      : 0
                  }}
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.categoria ==
                    "AGUA DULCE CONSUMIDA (HUELLA AZUL - WFN)"
                      ? salidaDeAgua.total.toFixed(6)
                      : 0
                  }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th
                  colspan="2"
                  style="border: 1px solid black; background-color: #ffe699"
                >
                  TOTALES
                </th>

                <td
                  *ngFor="let salidaDeAgua of data.salidasDeAgua"
                  style="
                    border: 1px solid black;
                    background-color: rgb(116, 149, 185);
                    color: white;
                    font-weight: bold;
                  "
                >
                  {{
                    data.totales.totalsalidas[salidaDeAgua.categoria].toFixed(6)
                  }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- SALIDAS DE AGUA %-->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 10px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #ffe699;
                    min-width: 250px;
                  "
                >
                  SALIDAS DE AGUA %
                </th>

                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  SALIDA AGUA DESCARGADA
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  SALIDA AGUA INFILTRADA
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  AGUA DULCE CONSUMIDA (HUELLA AZUL - WFN)
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #ffe699;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #ffe699;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  %
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  %
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: rgb(116, 149, 185);
                  "
                >
                  %
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salidaDeAgua of data.salidasDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.nombre }}
                </td>

                <!-- INVENTARIO -->
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.categoria == "SALIDA AGUA DESCARGADA"
                      ? salidaDeAgua.porcentaje.toFixed(2)
                      : 0
                  }}%
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.categoria == "SALIDA AGUA INFILTRADA"
                      ? salidaDeAgua.porcentaje.toFixed(2)
                      : 0
                  }}%
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.categoria ==
                    "AGUA DULCE CONSUMIDA (HUELLA AZUL - WFN)"
                      ? salidaDeAgua.porcentaje.toFixed(2)
                      : 0
                  }}%
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- SALIDAS DE AGUA CONTAMINANTES -->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 100px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  rowspan="2"
                  style="
                    border: 1px solid black;
                    background-color: rgb(213, 84, 99);
                    color: white;
                    min-width: 250px;
                  "
                >
                  SALIDAS DE AGUA<br /><small>Contaminantes</small>
                </th>
                <th
                  colspan="15"
                  style="
                    border: 1px solid black;
                    background-color: rgb(13, 49, 73);
                    color: white;
                    min-width: 250px;
                  "
                >
                  INVENTARIO
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 100px;
                    background-color: rgb(116, 149, 185);
                  "
                  *ngFor="let contaminante of data.contaminantes"
                >
                  {{ contaminante.nombre }}
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 150px;
                    background-color: rgb(213, 84, 99);
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 200px;
                    background-color: rgb(213, 84, 99);
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    background-color: rgb(116, 149, 185);
                  "
                  *ngFor="let contaminante of data.contaminantes"
                >
                  [kg {{ contaminante.abreviacion }}/UF]
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let salidaDeAgua of data.salidasDeAgua"
                [ngClass]="{ 'd-none': !salidaDeAgua.contaminantes.length }"
              >
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.nombre }}
                </td>

                <!-- INVENTARIO -->
                <td
                  style="border: 1px solid black"
                  *ngFor="let contaminante of salidaDeAgua.contaminantes"
                >
                  {{ contaminante.valor.toFixed(6) }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: rgb(213, 84, 99);
                    color: white;
                  "
                >
                  TOTALES
                </th>

                <td
                  *ngFor="let contaminante of data.contaminantes"
                  style="
                    border: 1px solid black;
                    background-color: rgb(116, 149, 185);
                    color: white;
                    font-weight: bold;
                  "
                >
                  {{
                    data.totales.totalContaminantes[
                      contaminante.abreviacion
                    ].toFixed(6)
                  }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- SALIDAS DE AGUA CONTAMINANTES %-->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 10px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: rgb(213, 84, 99);
                    color: white;
                    min-width: 250px;
                  "
                >
                  SALIDAS DE AGUA<br /><small>Contaminantes</small> %
                </th>

                <th
                  style="
                    border: 1px solid black;
                    min-width: 100px;
                    background-color: rgb(116, 149, 185);
                  "
                  *ngFor="let contaminante of data.contaminantes"
                >
                  {{ contaminante.nombre }}
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 150px;
                    background-color: rgb(213, 84, 99);
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 200px;
                    background-color: rgb(213, 84, 99);
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    background-color: rgb(116, 149, 185);
                  "
                  *ngFor="let contaminante of data.contaminantes"
                >
                  %
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let salidaDeAgua of data.salidasDeAgua"
                [ngClass]="{ 'd-none': !salidaDeAgua.contaminantes.length }"
              >
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.nombre }}
                </td>

                <!-- INVENTARIO -->
                <td
                  style="border: 1px solid black"
                  *ngFor="let contaminante of salidaDeAgua.contaminantes"
                >
                  {{ contaminante.porcentaje.toFixed(2) }}%
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- SALIDAS DE AGUA PUNTO MEDIO-->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 100px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #ed7d31;
                    color: white;
                    min-width: 250px;
                  "
                >
                  SALIDAS DE AGUA <br /><small>Punto Medio</small>
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  Available WAter REmaining_AWARE 100 (Boulay et al. 2017)
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  TOXICIDAD HUMANA_TOTAL (USEtox; Rosenbaum et al. 2008)
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  ECOTOXICIDAD DE AGUA DULCE (USEtox; Rosenbaum et al. 2008)
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  EUTROFIZACIÓN DE AGUA DULCE (ReCIPe, Goedkoop et al. 2008)
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #ed7d31;
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #ed7d31;
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  [m3 eq. global/UF]
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  [CTUh/UF]
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  [CTUe/UF]
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  [kg Peq/UF]
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salidaDeAgua of data.salidasDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.nombre }}
                </td>

                <!-- INVENTARIO -->
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.availableWaterRemainingAware.toFixed(6) }}
                </td>

                <td style="border: 1px solid black">
                  {{ salidaDeAgua.toxixidadHumana.toFixed(6) }}
                </td>

                <td style="border: 1px solid black">
                  {{ salidaDeAgua.ecotoxicidad.toFixed(6) }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.eutrofizacion.toFixed(6) }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #ed7d31;
                    color: white;
                  "
                >
                  TOTALES
                </th>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #fbe5d6;
                    font-weight: bold;
                  "
                >
                  {{ data.totales.availableWaterRemainingAware.toFixed(6) }}
                </td>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #fbe5d6;
                    font-weight: bold;
                  "
                >
                  {{ data.totales.toxixidadHumana.toFixed(6) }}
                </td>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #fbe5d6;
                    font-weight: bold;
                  "
                >
                  {{ data.totales.ecotoxicidad.toFixed(6) }}
                </td>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #fbe5d6;
                    font-weight: bold;
                  "
                >
                  {{ data.totales.eutrofizacion.toFixed(6) }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        <!-- SALIDAS DE AGUA PUNTO MEDIO % -->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 10px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #ed7d31;
                    color: white;
                    min-width: 250px;
                  "
                >
                  SALIDAS DE AGUA <br /><small>Punto Medio</small> %
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  Available WAter REmaining_AWARE 100 (Boulay et al. 2017)
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  TOXICIDAD HUMANA_TOTAL (USEtox; Rosenbaum et al. 2008)
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  ECOTOXICIDAD DE AGUA DULCE (USEtox; Rosenbaum et al. 2008)
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  EUTROFIZACIÓN DE AGUA DULCE (ReCIPe, Goedkoop et al. 2008)
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #ed7d31;
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #ed7d31;
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  %
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  %
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  %
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #fbe5d6;
                  "
                >
                  %
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salidaDeAgua of data.salidasDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.nombre }}
                </td>

                <!-- INVENTARIO -->
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.availableWaterRemainingAwarePorcentaje.toFixed(2) }}
                </td>

                <td style="border: 1px solid black">
                  {{ salidaDeAgua.toxixidadHumanaPorcentaje.toFixed(2) }}
                </td>

                <td style="border: 1px solid black">
                  {{ salidaDeAgua.ecotoxicidadPorcentaje.toFixed(2) }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.eutrofizacionPorcentaje.toFixed(2) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- SALIDAS DE AGUA PUNTO FINAL -->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 100px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #70ad47;
                    color: white;
                    min-width: 250px;
                  "
                >
                  SALIDAS DE AGUA <br /><small>Punto Final</small>
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  POTENCIALES IMPACTOS A LA SALUD HUMANA POR ESCASEZ DE AGUA
                  DULCE<br />
                  <small>(UNEP-SETAC 2017)</small>
                </th>
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  ENFERMEDADES CAUSADAS POR TOXICIDAD DE AGUA DULCE<br />
                  <small>(USEtox; Rosenbaum et al. 2008)</small>
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  DISMINUCIÓN DE LA BIODIVERSIDAD TERRESTRE DEBIDO AL CONSUMO DE
                  AGUA DULCE<br />
                  <small>(Pfister et al. 2009)</small>
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  ECOSISTEMAS ACUÁTICOS AFECTADOS POR ECOTOXICIDAD DE AGUA
                  DULCE<br />
                  <small>(USEtox; Rosenbaum et al. 2008)</small>
                </th>
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  ECOSISTEMAS ACUÁTICOS AFECTADOS POR EUTROFIZACIÓN DE AGUA
                  DULCE<br />
                  <small>(ReCIPe, Goedkoop et al. 2008)</small>
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  [DALY/UF]
                </th>
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  [DALY/UF]
                </th>
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  [PDF*m2*año/UF]
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  [PDF*m2*año/UF]
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  [PDF*m2*año/UF]
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salidaDeAgua of data.salidasDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.nombre }}
                </td>

                <!-- INVENTARIO -->

                <td style="border: 1px solid black">
                  {{ salidaDeAgua.potencialesImpactosSalud.toFixed(6) }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.enfermedadesPorToxicidad.toFixed(6) }}
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.disminucionBiodiversidadTerrestre.toFixed(6)
                  }}
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.ecosistemasAcuaticosAfectadosPorEcotoxicidad.toFixed(
                      6
                    )
                  }}
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.ecosistemasAcuaticosAfectadosPorEutrofizacion.toFixed(
                      6
                    )
                  }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  TOTALES
                </th>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #e2f0d9;
                    font-weight: bold;
                  "
                >
                  {{ data.totales.potencialesImpactosSalud.toFixed(6) }}
                </td>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #e2f0d9;
                    font-weight: bold;
                  "
                >
                  {{ data.totales.enfermedadesPorToxicidad.toFixed(6) }}
                </td>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #e2f0d9;
                    font-weight: bold;
                  "
                >
                  {{
                    data.totales.disminucionBiodiversidadTerrestre.toFixed(6)
                  }}
                </td>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #e2f0d9;
                    font-weight: bold;
                  "
                >
                  {{
                    data.totales.ecosistemasAcuaticosAfectadosPorEcotoxicidad.toFixed(
                      6
                    )
                  }}
                </td>

                <td
                  style="
                    border: 1px solid black;
                    background-color: #e2f0d9;
                    font-weight: bold;
                  "
                >
                  {{
                    data.totales.ecosistemasAcuaticosAfectadosPorEutrofizacion.toFixed(
                      6
                    )
                  }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

         <!-- SALIDAS DE AGUA PUNTO FINAL %-->
        <div class="table-responsive">
          <table
            style="
              border: 1px solid black;
              border-collapse: collapse;
              margin: 10px auto 0;
            "
          >
            <thead>
              <tr>
                <th
                  colspan="2"
                  style="
                    border: 1px solid black;
                    background-color: #70ad47;
                    color: white;
                    min-width: 250px;
                  "
                >
                  SALIDAS DE AGUA <br /><small>Punto Final</small> %
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  POTENCIALES IMPACTOS A LA SALUD HUMANA POR ESCASEZ DE AGUA
                  DULCE<br />
                  <small>(UNEP-SETAC 2017)</small>
                </th>
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  ENFERMEDADES CAUSADAS POR TOXICIDAD DE AGUA DULCE<br />
                  <small>(USEtox; Rosenbaum et al. 2008)</small>
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  DISMINUCIÓN DE LA BIODIVERSIDAD TERRESTRE DEBIDO AL CONSUMO DE
                  AGUA DULCE<br />
                  <small>(Pfister et al. 2009)</small>
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  ECOSISTEMAS ACUÁTICOS AFECTADOS POR ECOTOXICIDAD DE AGUA
                  DULCE<br />
                  <small>(USEtox; Rosenbaum et al. 2008)</small>
                </th>
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  ECOSISTEMAS ACUÁTICOS AFECTADOS POR EUTROFIZACIÓN DE AGUA
                  DULCE<br />
                  <small>(ReCIPe, Goedkoop et al. 2008)</small>
                </th>
              </tr>
              <tr>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  UBICACIÓN
                </th>
                <th
                  style="
                    border: 1px solid black;
                    min-width: 250px;
                    background-color: #70ad47;
                    color: white;
                  "
                >
                  NOMBRE FLUJO DE AGUA
                </th>

                <!-- INVENTARIO -->
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  %
                </th>
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  %
                </th>
                <th style="border: 1px solid black; background-color: #e2f0d9">
                  %
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  %
                </th>

                <th style="border: 1px solid black; background-color: #e2f0d9">
                  %
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salidaDeAgua of data.salidasDeAgua">
                <td style="border: 1px solid black">
                  {{ data.datosEmpresa.ubicacionMedidaC }}
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.nombre }}
                </td>

                <!-- INVENTARIO -->

                <td style="border: 1px solid black">
                  {{ salidaDeAgua.potencialesImpactosSaludPorcentaje.toFixed(2) }}%
                </td>
                <td style="border: 1px solid black">
                  {{ salidaDeAgua.enfermedadesPorToxicidadPorcentaje.toFixed(2) }}%
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.disminucionBiodiversidadTerrestrePorcentaje.toFixed(2)
                  }}%
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.ecosistemasAcuaticosAfectadosPorEcotoxicidadPorcentaje.toFixed(
                      2
                    )
                  }}%
                </td>
                <td style="border: 1px solid black">
                  {{
                    salidaDeAgua.ecosistemasAcuaticosAfectadosPorEutrofizacionPorcentaje.toFixed(
                      2
                    )
                  }}%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="abajo" class="my-5 pt-5 d-flex justify-content-center">
  <button (click)="generaPdf()" id="download-pdf" class="btn btn-success btn-lg">Descargar PDF</button>
</section>
