<div *ngIf="currentStep === 1">
  <app-datos-medicion
    [(medicionHuella)]="medicionHuella"
    [(anioMedicion)]="anioMedicion"
    [(unidadFuncional)]="unidadFuncional"
    [(nombreEmpresa)]="nombreEmpresa"
    [(instalacionMedida)]="instalacionMedida"
    [(ubicacionMedidaR)]="ubicacionMedidaR"
    [(ubicacionMedidaC)]="ubicacionMedidaC"
    [(tipoProducto)]="tipoProducto"
    [(nombreResponsable)]="nombreResponsable"
    [(cargoResponsable)]="cargoResponsable"
    [(correoResponsable)]="correoResponsable"
    [(telefonoResponsable)]="telefonoResponsable"
    (onNextStep)="nextStep()"
  ></app-datos-medicion>
</div>

<div *ngIf="currentStep === 2">
  <app-produccion
    [(producto)]="producto"
    [(descripcion)]="descripcion"
    [(enero)]="enero"
    [(febrero)]="febrero"
    [(marzo)]="marzo"
    [(abril)]="abril"
    [(mayo)]="mayo"
    [(junio)]="junio"
    [(julio)]="julio"
    [(agosto)]="agosto"
    [(septiembre)]="septiembre"
    [(octubre)]="octubre"
    [(noviembre)]="noviembre"
    [(diciembre)]="diciembre"
    [(produccionTotal)]="produccionTotal"
    [(produccionPromedio)]="produccionPromedio"
    (previous)="previousStep()"
    (next)="nextStep()"
  ></app-produccion>
</div>


<div *ngIf="currentStep == 3">
  <!-- <h3>Entradas de Agua</h3>

  <h4>Entrada Mensual de Agua Potable</h4>
  <table>
    <thead>
      <tr>
        <th>Fuente - Uso/Equipo</th>
        <th>UNIDAD</th>
        <th>ENERO</th>
        <th>FEBRERO</th>
        <th>MARZO</th>
        <th>ABRIL</th>
        <th>MAYO</th>
        <th>JUNIO</th>
        <th>JULIO</th>
        <th>AGOSTO</th>
        <th>SEPTIEMBRE</th>
        <th>OCTUBRE</th>
        <th>NOVIEMBRE</th>
        <th>DICIEMBRE</th>
        <th>TOTAL</th>
        <th>PROMEDIO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="text"
            id="aguaPotableMensualUso"
            [(ngModel)]="aguaPotableMensualUso"
          />
        </td>
        <td>m<sup>3</sup></td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualEnero"
            [(ngModel)]="aguaPotableMensualEnero"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualFebrero"
            [(ngModel)]="aguaPotableMensualFebrero"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualMarzo"
            [(ngModel)]="aguaPotableMensualMarzo"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualAbril"
            [(ngModel)]="aguaPotableMensualAbril"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualMayo"
            [(ngModel)]="aguaPotableMensualMayo"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualJunio"
            [(ngModel)]="aguaPotableMensualJunio"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualJulio"
            [(ngModel)]="aguaPotableMensualJulio"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualAgosto"
            [(ngModel)]="aguaPotableMensualAgosto"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualSeptiembre"
            [(ngModel)]="aguaPotableMensualSeptiembre"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualOctubre"
            [(ngModel)]="aguaPotableMensualOctubre"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualNoviembre"
            [(ngModel)]="aguaPotableMensualNoviembre"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPotable()"
            type="number"
            id="aguaPotableMensualDiciembre"
            [(ngModel)]="aguaPotableMensualDiciembre"
            value="0"
            step="0.001"
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPotableMensualTotal"
            value="0"
            step="0.001"
            readonly
            [(ngModel)]="aguaPotableMensualTotal"
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPotableMensualPromedio"
            value="0"
            step="0.001"
            readonly
            [(ngModel)]="aguaPotableMensualPromedio"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Entrada Mensual de Agua de Pozo</h4>
  <table>
    <thead>
      <tr>
        <th>Fuente - Uso/Equipo</th>
        <th>Unidad</th>
        <th>Enero</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th>Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th>Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th>Octubre</th>
        <th>Noviembre</th>
        <th>Diciembre</th>
        <th>Total</th>
        <th>Promedio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="text"
            id="aguaPozoFuenteUso"
            [(ngModel)]="aguaPozoFuenteUso"
            required
          />
        </td>
        <td>m<sup>3</sup></td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoEnero"
            [(ngModel)]="aguaPozoEnero"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoFebrero"
            [(ngModel)]="aguaPozoFebrero"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoMarzo"
            [(ngModel)]="aguaPozoMarzo"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoAbril"
            [(ngModel)]="aguaPozoAbril"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoMayo"
            [(ngModel)]="aguaPozoMayo"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoJunio"
            [(ngModel)]="aguaPozoJunio"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoJulio"
            [(ngModel)]="aguaPozoJulio"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoAgosto"
            [(ngModel)]="aguaPozoAgosto"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoSeptiembre"
            [(ngModel)]="aguaPozoSeptiembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoOctubre"
            [(ngModel)]="aguaPozoOctubre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoNoviembre"
            [(ngModel)]="aguaPozoNoviembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaPozo()"
            type="number"
            id="aguaPozoDiciembre"
            [(ngModel)]="aguaPozoDiciembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoTotal"
            value="0"
            step="0.001"
            readonly
            [(ngModel)]="aguaPozoTotal"
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoPromedio"
            value="0"
            step="0.001"
            readonly
            [(ngModel)]="aguaPozoPromedio"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Entrada Mensual de Agua Dulce de Fuentes Superficiales</h4>
  <table>
    <thead>
      <tr>
        <th>Fuente - Uso/Equipo</th>
        <th>Unidad</th>
        <th>Enero</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th>Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th>Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th>Octubre</th>
        <th>Noviembre</th>
        <th>Diciembre</th>
        <th>Promedio</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="text"
            id="aguaSuperficialFuenteUso"
            [(ngModel)]="aguaSuperficialFuenteUso"
            required
          />
        </td>
        <td>m<sup>3</sup></td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialEnero"
            [(ngModel)]="aguaSuperficialEnero"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialFebrero"
            [(ngModel)]="aguaSuperficialFebrero"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialMarzo"
            [(ngModel)]="aguaSuperficialMarzo"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialAbril"
            [(ngModel)]="aguaSuperficialAbril"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialMayo"
            [(ngModel)]="aguaSuperficialMayo"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialJunio"
            [(ngModel)]="aguaSuperficialJunio"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialJulio"
            [(ngModel)]="aguaSuperficialJulio"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialAgosto"
            [(ngModel)]="aguaSuperficialAgosto"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialSeptiembre"
            [(ngModel)]="aguaSuperficialSeptiembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialOctubre"
            [(ngModel)]="aguaSuperficialOctubre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialNoviembre"
            [(ngModel)]="aguaSuperficialNoviembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            (change)="calculaEntradaAguaDulce()"
            type="number"
            id="aguaSuperficialDiciembre"
            [(ngModel)]="aguaSuperficialDiciembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialPromedio"
            value="0"
            step="0.001"
            readonly
            [(ngModel)]="aguaSuperficialPromedio"
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialTotal"
            value="0"
            step="0.001"
            readonly
            [(ngModel)]="aguaSuperficialTotal"
          />
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Entrada Mensual de Agua de Pozo</h4>
  <table>
    <thead>
      <tr>
        <th>Fuente - Uso/Equipo</th>
        <th>Unidad</th>
        <th>Enero</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th>Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th>Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th>Octubre</th>
        <th>Noviembre</th>
        <th>Diciembre</th>
        <th>Total</th>
        <th>Promedio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="text"
            id="aguaPozoFuenteUso"
            [(ngModel)]="aguaPozoFuenteUso"
            required
          />
        </td>
        <td>m<sup>3</sup></td>
        <td>
          <input
            type="number"
            id="aguaPozoEnero"
            [(ngModel)]="aguaPozoEnero"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoFebrero"
            [(ngModel)]="aguaPozoFebrero"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoMarzo"
            [(ngModel)]="aguaPozoMarzo"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoAbril"
            [(ngModel)]="aguaPozoAbril"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoMayo"
            [(ngModel)]="aguaPozoMayo"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoJunio"
            [(ngModel)]="aguaPozoJunio"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoJulio"
            [(ngModel)]="aguaPozoJulio"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoAgosto"
            [(ngModel)]="aguaPozoAgosto"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoSeptiembre"
            [(ngModel)]="aguaPozoSeptiembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoOctubre"
            [(ngModel)]="aguaPozoOctubre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoNoviembre"
            [(ngModel)]="aguaPozoNoviembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoDiciembre"
            [(ngModel)]="aguaPozoDiciembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoTotal"
            value="0"
            step="0.001"
            readonly
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaPozoPorcentaje"
            value="0"
            step="0.001"
            readonly
          />
        </td>
      </tr>
    </tbody>
  </table>

  <h4>Entrada Mensual de Agua Dulce de Fuentes Superficiales</h4>
  <table>
    <thead>
      <tr>
        <th>Fuente - Uso/Equipo</th>
        <th>Unidad</th>
        <th>Enero</th>
        <th>Febrero</th>
        <th>Marzo</th>
        <th>Abril</th>
        <th>Mayo</th>
        <th>Junio</th>
        <th>Julio</th>
        <th>Agosto</th>
        <th>Septiembre</th>
        <th>Octubre</th>
        <th>Noviembre</th>
        <th>Diciembre</th>
        <th>Promedio</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="text"
            id="aguaSuperficialFuenteUso"
            [(ngModel)]="aguaSuperficialFuenteUso"
            required
          />
        </td>
        <td>m<sup>3</sup></td>
        <td>
          <input
            type="number"
            id="aguaSuperficialEnero"
            [(ngModel)]="aguaSuperficialEnero"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialFebrero"
            [(ngModel)]="aguaSuperficialFebrero"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialMarzo"
            [(ngModel)]="aguaSuperficialMarzo"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialAbril"
            [(ngModel)]="aguaSuperficialAbril"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialMayo"
            [(ngModel)]="aguaSuperficialMayo"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialJunio"
            [(ngModel)]="aguaSuperficialJunio"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialJulio"
            [(ngModel)]="aguaSuperficialJulio"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialAgosto"
            [(ngModel)]="aguaSuperficialAgosto"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialSeptiembre"
            [(ngModel)]="aguaSuperficialSeptiembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialOctubre"
            [(ngModel)]="aguaSuperficialOctubre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialNoviembre"
            [(ngModel)]="aguaSuperficialNoviembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialDiciembre"
            [(ngModel)]="aguaSuperficialDiciembre"
            value="0"
            step="0.001"
            required
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialPromedio"
            value="0"
            step="0.001"
            readonly
          />
        </td>
        <td>
          <input
            type="number"
            id="aguaSuperficialTotal"
            value="0"
            step="0.001"
            readonly
          />
        </td>
      </tr>
    </tbody>
  </table>

  <div class="col-md-12">
    <button class="btn btn-secondary me-2" (click)="previousStep()">
      Anterior
    </button>
    <button class="btn btn-primary mt-3" (click)="nextStep()">Siguiente</button>
  </div> -->
</div>
