<div *ngIf="currentStep === 1">
    <h3>Datos de la Medición de Huella de Agua</h3>
    <table>
        <tr>
            <td><label for="medicionHuella">¿A qué se le medirá la huella de agua?</label></td>
            <td><input id="medicionHuella" type="text" name="medicionHuella" [(ngModel)]="medicionHuella" required /></td>
        </tr>        
        <tr>
            <td><label for="anioMedicion">Año de medición</label></td>
            <td><input id="anioMedicion" type="text" name="anioMedicion" [(ngModel)]="anioMedicion" required /></td>
        </tr>
        <tr>
            <td><label for="unidadFuncional">Unidad Funcional (UF)</label></td>
            <td><input id="unidadFuncional" type="text" name="unidadFuncional" [(ngModel)]="unidadFuncional" required /></td>
        </tr>
    </table>

    <h3>Datos de la Empresa</h3>
    <table>
        <tr>
            <td><label for="nombreEmpresa">Nombre de la empresa</label></td>
            <td><input id="nombreEmpresa" type="text" name="nombreEmpresa" [(ngModel)]="nombreEmpresa" required /></td>
        </tr>
        <tr>
            <td><label for="instalacionMedida">Instalación que se medirá</label></td>
            <td><input id="instalacionMedida" type="text" name="instalacionMedida" [(ngModel)]="instalacionMedida" required /></td>
        </tr>
        <tr>
            <td><label for="ubicacionMedidaR">Ubicación de la instalación: Región</label></td>
            <td><input id="ubicacionMedidaR" type="text" name="ubicacionMedidaR" [(ngModel)]="ubicacionMedidaR" required /></td>
        </tr>
        <tr>
            <td><label for="ubicacionMedidaC">Ubicación de la instalación: Comuna</label></td>
            <td><input id="ubicacionMedidaC" type="text" name="ubicacionMedidaC" [(ngModel)]="ubicacionMedidaC" required /></td>
        </tr>
        <tr>
            <td><label for="tipoProducto">Tipo de producto que se fabrican en la instalación</label></td>
            <td><input id="tipoProducto" type="text" name="tipoProducto" [(ngModel)]="tipoProducto" required /></td>
        </tr>
    </table>

    <h3>Datos del Responsable de Completar la Planilla</h3>
    <table>
        <tr>
            <td><label for="nombreResponsable">Nombre y Apellido</label></td>
            <td><input id="nombreResponsable" type="text" name="nombreResponsable" [(ngModel)]="nombreResponsable" required /></td>
        </tr>
        <tr>
            <td><label for="cargoResponsable">Cargo</label></td>
            <td><input id="cargoResponsable" type="text" name="cargoResponsable" [(ngModel)]="cargoResponsable" required /></td>
        </tr>
        <tr>
            <td><label for="correoResponsable">Correo</label></td>
            <td><input id="correoResponsable" type="email" name="correoResponsable" [(ngModel)]="correoResponsable" required /></td>
        </tr>
        <tr>
            <td><label for="telefonoResponsable">Teléfono</label></td>
            <td><input id="telefonoResponsable" type="tel" name="telefonoResponsable" [(ngModel)]="telefonoResponsable" required /></td>
        </tr>
    </table>
    <div>
        <button class="botonSig" (click)="nextStep()">Siguiente</button>
    </div>
</div>

<div *ngIf="currentStep === 2">
    <h3>Producción Mensual</h3>
    <table>
        <thead>
            <tr>
                <th>PRODUCTO</th>
                <th>DESCRIPCION</th>
                <th>UNIDAD</th>
                <th>ENERO</th>
                <th>FEBRERO</th>
                <th>MARZO</th>
                <th>ABRIL</th>
                <th>MAYO</th>
                <th>JUNIO</th>
                <th>JULIO</th>
                <th>AGOSTO</th>
                <th>SEPTIEMBRE</th>
                <th>OCTUBRE</th>
                <th>NOVIEMBRE</th>
                <th>DICIEMBRE</th>
                <th>TOTAL</th>
                <th>PROMEDIO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="producto" type="text" name="producto"></td>
                <td><input id="descripcion" type="text" name="descripcion"></td>
                <td><input id="unidad" type="text" name="unidad" required /></td>
                <td><input type="number" name="enero" required /></td>
                <td><input type="number" name="febrero" required /></td>
                <td><input type="number" name="marzo" required /></td>
                <td><input type="number" name="abril" required /></td>
                <td><input type="number" name="mayo" required /></td>
                <td><input type="number" name="junio" required /></td>
                <td><input type="number" name="julio" required /></td>
                <td><input type="number" name="agosto" required /></td>
                <td><input type="number" name="septiembre" required /></td>
                <td><input type="number" name="octubre" required /></td>
                <td><input type="number" name="noviembre" required /></td>
                <td><input type="number" name="diciembre" required /></td>
                <td><input type="number" name="total" value="0" step="0.001" /></td>
                <td><input type="number" name="promedio" value="0" step="0.001" /></td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-12">
        <button class="botonAnt" (click)="previousStep()">Anterior</button>
        <button class="botonSig" (click)="nextStep()">Siguiente</button>
    </div>
</div>


<div *ngIf="currentStep == 3">
    <h3>Entradas de Agua</h3>

    <h4>Entrada Mensual de Agua Potable</h4>
    <table>
        <thead>
            <tr>
                <th>Fuente - Uso/Equipo</th>
                <th>UNIDAD</th>
                <th>ENERO</th>
                <th>FEBRERO</th>
                <th>MARZO</th>
                <th>ABRIL</th>
                <th>MAYO</th>
                <th>JUNIO</th>
                <th>JULIO</th>
                <th>AGOSTO</th>
                <th>SEPTIEMBRE</th>
                <th>OCTUBRE</th>
                <th>NOVIEMBRE</th>
                <th>DICIEMBRE</th>
                <th>TOTAL</th>
                <th>PROMEDIO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="aguaPotableMensualUso" value=" " /></td>
                <td>cm3</td>
                <td><input type="number" name="aguaPotableMensualEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualTotal" value="0" step="0.001" /></td>
                <td><input type="number" name="aguaPotableMensualPorcentaje" value="0" step="0.001" /></td>
            </tr>
        </tbody>
    </table>


    <h4>Entrada Mensual de Agua de Pozo</h4>
    <table>
        <thead>
            <tr>
                <th>Fuente - Uso/Equipo</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Total</th>
                <th>Promedio</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="aguaPozoFuenteUso" required /></td>
                <td>cm3</td>
                <td><input type="number" name="aguaPozoEnero" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoFebrero" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoMarzo" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoAbril" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoMayo" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoJunio" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoJulio" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoAgosto" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoSeptiembre" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoOctubre" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoNoviembre" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoDiciembre" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaPozoTotal" value="0" step="0.001" readonly /></td>
                <td><input type="number" name="aguaPozoPorcentaje" value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>



    <h4>Entrada Mensual de Agua Dulce de Fuentes Superficiales</h4>
    <table>
        <thead>
            <tr>
                <th>Fuente - Uso/Equipo</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Promedio</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="aguaSuperficialFuenteUso" required /></td>
                <td>cm3</td>
                <td><input type="number" name="aguaSuperficialEnero" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialFebrero" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialMarzo" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialAbril" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialMayo" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialJunio" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialJulio" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialAgosto" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialSeptiembre" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialOctubre" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialNoviembre" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialDiciembre" value="0" step="0.001" required /></td>
                <td><input type="number" name="aguaSuperficialTotal" value="0" step="0.001" readonly /></td>
                <td><input type="number" name="aguaSuperficialPromedio" value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>




    <div class="col-md-12">
        <button class="botonAnt" (click)="previousStep()">Anterior</button>
        <button class="botonSig" (click)="nextStep()">Siguiente</button>
    </div>
</div>
<div *ngIf="currentStep == 4">
    <h2>SALIDA DE AGUA</h2><br>

    <!-- Salida Mensual de Agua Descargada -->
    <h3>Salida Mensual de Agua Descargada</h3>
    <table>
        <thead>
            <tr>
                <th>Proceso/Equipo Relacionado</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Total</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="procesoAguaDescargada" required /></td>
                <td><input type="text" name="unidadAguaDescargada" required /></td>
                <td><input type="number" name="eneroAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="febreroAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="marzoAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="abrilAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="mayoAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="junioAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="julioAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="agostoAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="septiembreAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="octubreAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="noviembreAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="diciembreAguaDescargada" value="0" step="0.001" required /></td>
                <td><input type="number" name="totalAguaDescargada" value="0" step="0.001" readonly /></td>
                <td><input type="number" name="promedioAguaDescargada" value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>



    <!-- Salida Mensual de Agua Infiltrada -->
    <h3>Salida Mensual de Agua Infiltrada</h3>
    <table>
        <thead>
            <tr>
                <th>Proceso/Equipo Relacionado</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Total</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="procesoAguaInfiltrada" required /></td>
                <td><input type="text" name="unidadAguaInfiltrada" required /></td>
                <td><input type="number" name="eneroAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="febreroAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="marzoAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="abrilAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="mayoAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="junioAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="julioAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="agostoAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="septiembreAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="octubreAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="noviembreAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="diciembreAguaInfiltrada" value="0" step="0.001" required /></td>
                <td><input type="number" name="totalAguaInfiltrada" value="0" step="0.001" readonly /></td>
                <td><input type="number" name="promedioAguaInfiltrada" value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>


    <h3>Salida Mensual de Agua Consumida</h3>
    <table>
        <thead>
            <tr>
                <th>Proceso/Equipo Relacionado</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Total</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="procesoAguaConsumida" type="text" name="procesoAguaConsumida" required /></td>
                <td><input id="unidadAguaConsumida" type="text" name="unidadAguaConsumida" required /></td>
                <td><input id="eneroAguaConsumida" type="number" name="eneroAguaConsumida" required /></td>
                <td><input id="febreroAguaConsumida" type="number" name="febreroAguaConsumida" required /></td>
                <td><input id="marzoAguaConsumida" type="number" name="marzoAguaConsumida" required /></td>
                <td><input id="abrilAguaConsumida" type="number" name="abrilAguaConsumida" required /></td>
                <td><input id="mayoAguaConsumida" type="number" name="mayoAguaConsumida" required /></td>
                <td><input id="junioAguaConsumida" type="number" name="junioAguaConsumida" required /></td>
                <td><input id="julioAguaConsumida" type="number" name="julioAguaConsumida" required /></td>
                <td><input id="agostoAguaConsumida" type="number" name="agostoAguaConsumida" required /></td>
                <td><input id="septiembreAguaConsumida" type="number" name="septiembreAguaConsumida" required /></td>
                <td><input id="octubreAguaConsumida" type="number" name="octubreAguaConsumida" required /></td>
                <td><input id="noviembreAguaConsumida" type="number" name="noviembreAguaConsumida" required /></td>
                <td><input id="diciembreAguaConsumida" type="number" name="diciembreAguaConsumida" required /></td>
                <td><input id="totalAguaConsumida" type="number" name="minAguaConsumida" value="0" readonly /></td>
                <td><input id="promedioAguaConsumida" type="number" name="promedioAguaConsumida" value="0" readonly />
                </td>
            </tr>
        </tbody>
    </table>



    <div class="col-md-12">
        <button class="botonAnt" (click)="previousStep()">Anterior</button>
        <button class="botonSig" (click)="nextStep()">Siguiente</button>
    </div>
</div>
<!-- Calidad de las Aguas Descargadas -->
<div *ngIf="currentStep == 5">
    <h3>CALIDAD DE LAS AGUAS DESCARGADAS</h3>
    <table>
        <thead>
            <tr>
                <th>PARÁMETRO</th>
                <th>ABREVIACIÓN</th>
                <th>UNIDAD</th>
                <th>ENERO</th>
                <th>FEBRERO</th>
                <th>MARZO</th>
                <th>ABRIL</th>
                <th>MAYO</th>
                <th>JUNIO</th>
                <th>JULIO</th>
                <th>AGOSTO</th>
                <th>SEPTIEMBRE</th>
                <th>OCTUBRE</th>
                <th>NOVIEMBRE</th>
                <th>DICIEMBRE</th>
                <th>MIN</th>
                <th>MAX</th>
                <th>PROMEDIO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NITRÓGENO TOTAL</td>
                <td>N</td>
                <td>[mg/L]</td>
                <td><input type="number" name="nitrogenoTotalEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalMin" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalMax" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoTotalPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>NITRÓGENO TOTAL KJELDAHL</td>
                <td>NTK</td>
                <td>[mg/L]</td>
                <td><input type="number" name="nitrogenoKjeldahlEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlMin" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlMax" value="0" step="0.001" /></td>
                <td><input type="number" name="nitrogenoKjeldahlPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>FÓSFORO TOTAL</td>
                <td>P</td>
                <td>[mg/L]</td>
                <td><input type="number" name="fosforoTotalEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalMin" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalMax" value="0" step="0.001" /></td>
                <td><input type="number" name="fosforoTotalPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>FOSFATO</td>
                <td>PO4</td>
                <td>[mg/L]</td>
                <td><input type="number" name="fosfatoEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoMin" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoMax" value="0" step="0.001" /></td>
                <td><input type="number" name="fosfatoPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>DEMANDA QUÍMICA DE OXÍGENO</td>
                <td>DQO</td>
                <td>[mg/L]</td>
                <td><input type="number" name="dqoEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoMin" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoMax" value="0" step="0.001" /></td>
                <td><input type="number" name="dqoPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>DEMANDA BIOLÓGICA DE OXÍGENO</td>
                <td>DBO</td>
                <td>[mg/L]</td>
                <td><input type="number" name="dboEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="dboFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="dboMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="dboAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="dboMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="dboJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="dboJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="dboAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="dboSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="dboOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="dboNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="dboDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="dboMin" value="0" step="0.001" /></td>
                <td><input type="number" name="dboMax" value="0" step="0.001" /></td>
                <td><input type="number" name="dboPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>ARSÉNICO</td>
                <td>As</td>
                <td>[mg/L]</td>
                <td><input type="number" name="arsenicoEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoMin" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoMax" value="0" step="0.001" /></td>
                <td><input type="number" name="arsenicoPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>CADMIO</td>
                <td>Cd</td>
                <td>[mg/L]</td>
                <td><input type="number" name="cadmioEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioMin" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioMax" value="0" step="0.001" /></td>
                <td><input type="number" name="cadmioPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>CROMO</td>
                <td>Cr</td>
                <td>[mg/L]</td>
                <td><input type="number" name="cromoEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoMin" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoMax" value="0" step="0.001" /></td>
                <td><input type="number" name="cromoPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>COBRE</td>
                <td>Cu</td>
                <td>[mg/L]</td>
                <td><input type="number" name="cobreEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreMin" value="0" step="0.001" /></td>
                <td><input type="number" name="cobreMax" value="0" step="0.001" /></td>
                <td><input type="number" name="cobrePromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>MERCURIO</td>
                <td>Hg</td>
                <td>[mg/L]</td>
                <td><input type="number" name="mercurioEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioMin" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioMax" value="0" step="0.001" /></td>
                <td><input type="number" name="mercurioPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>NIQUEL</td>
                <td>Ni</td>
                <td>[mg/L]</td>
                <td><input type="number" name="niquelEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelMin" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelMax" value="0" step="0.001" /></td>
                <td><input type="number" name="niquelPromedio" value="0" step="0.001" /></td>
            </tr>
            <tr>
                <td>PLOMO</td>
                <td>Pb</td>
                <td>[mg/L]</td>
                <td><input type="number" name="plomoEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoMin" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoMax" value="0" step="0.001" /></td>
                <td><input type="number" name="plomoPromedio" value="0" step="0.001" /></td>
            </tr>
            <!-- Fila para Zinc -->
            <tr>
                <td>ZINC</td>
                <td>Zn</td>
                <td>[mg/L]</td>
                <td><input type="number" name="zincEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="zincFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="zincMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="zincAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="zincMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="zincJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="zincJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="zincAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="zincSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="zincOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="zincNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="zincDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="zincMin" value="0" step="0.001" /></td>
                <td><input type="number" name="zincMax" value="0" step="0.001" /></td>
                <td><input type="number" name="zincPromedio" value="0" step="0.001" /></td>
            </tr>

            <!-- Fila para Pentaclorofenol -->
            <tr>
                <td>PENTACLOROFENOL</td>
                <td>C6OHCL5</td>
                <td>[mg/L]</td>
                <td><input type="number" name="pentaclorofenolEnero" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolFebrero" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolMarzo" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolAbril" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolMayo" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolJunio" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolJulio" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolAgosto" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolOctubre" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolMin" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolMax" value="0" step="0.001" /></td>
                <td><input type="number" name="pentaclorofenolPromedio" value="0" step="0.001" /></td>
            </tr>
        </tbody>
    </table>


    <div class="col-md-12">
        <button class="botonAnt" (click)="previousStep()">Anterior</button>
        <button class="botonSig" (click)="calcular()">Resultados</button>
    </div>
</div>