.table-container {
  max-width: 100%; /* Evitar que el contenedor sea más ancho que la pantalla */
  overflow-x: auto; /* Agregar desplazamiento horizontal si es necesario */
}

h3 {
  text-align: left;
}

.col-md-12 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.botonSig {
  margin-right: 0;
}

.botonAnt {
  margin-left: 0;
}

table {
  width: 100%; /* Hacer que la tabla ocupe el 100% del ancho del contenedor */
  border-collapse: collapse; /* Colapsar bordes */
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ddd; /* Bordes de la tabla */
  /* text-align: center; Alinear texto al centro */
}

td.label {
  width: 400px;
}

th {
  /* background-color: #f2f2f2;  */
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 20px;
  padding-top: 10px;
}



.table-produccion-mensual th,
.table-produccion-mensual td {
  min-width: 100px;
}

.table-produccion-mensual .contaminante{
  min-width: 200px;
}

.table-produccion-mensual .contaminante span small{
display: block;
font-size: 10px;
}

.table-produccion-mensual th{
  text-align: center;
  border: 0;
}

.table-produccion-mensual tfoot th{
  text-align: left;
}

.table-produccion-mensual tfoot input{
  border: 0;
}

.table-produccion-mensual td{
  padding: 0 5px;
  border: 0;
}
