<div *ngIf="currentStep === 1">
    <h3>Datos de la Medición de Huella de Agua</h3>
    <table>
        <tr>
            <td><label for="medicionHuella">¿A qué se le medirá la huella de agua?</label></td>
            <td><input id="medicionHuella" type="text" name="medicionHuella" [(ngModel)]="medicionHuella" required /></td>
        </tr>        
        <tr>
            <td><label for="anioMedicion">Año de medición</label></td>
            <td><input id="anioMedicion" type="text" name="anioMedicion" [(ngModel)]="anioMedicion" required /></td>
        </tr>
        <tr>
            <td><label for="unidadFuncional">Unidad Funcional (UF)</label></td>
            <td><input id="unidadFuncional" type="text" name="unidadFuncional" [(ngModel)]="unidadFuncional" required /></td>
        </tr>
    </table>

    <h3>Datos de la Empresa</h3>
    <table>
        <tr>
            <td><label for="nombreEmpresa">Nombre de la empresa</label></td>
            <td><input id="nombreEmpresa" type="text" name="nombreEmpresa" [(ngModel)]="nombreEmpresa" required /></td>
        </tr>
        <tr>
            <td><label for="instalacionMedida">Instalación que se medirá</label></td>
            <td><input id="instalacionMedida" type="text" name="instalacionMedida" [(ngModel)]="instalacionMedida" required /></td>
        </tr>
        <tr>
            <td><label for="ubicacionMedidaR">Ubicación de la instalación: Región</label></td>
            <td><input id="ubicacionMedidaR" type="text" name="ubicacionMedidaR" [(ngModel)]="ubicacionMedidaR" required /></td>
        </tr>
        <tr>
            <td><label for="ubicacionMedidaC">Ubicación de la instalación: Comuna</label></td>
            <td><input id="ubicacionMedidaC" type="text" name="ubicacionMedidaC" [(ngModel)]="ubicacionMedidaC" required /></td>
        </tr>
        <tr>
            <td><label for="tipoProducto">Tipo de producto que se fabrican en la instalación</label></td>
            <td><input id="tipoProducto" type="text" name="tipoProducto" [(ngModel)]="tipoProducto" required /></td>
        </tr>
    </table>

    <h3>Datos del Responsable de Completar la Planilla</h3>
    <table>
        <tr>
            <td><label for="nombreResponsable">Nombre y Apellido</label></td>
            <td><input id="nombreResponsable" type="text" name="nombreResponsable" [(ngModel)]="nombreResponsable" required /></td>
        </tr>
        <tr>
            <td><label for="cargoResponsable">Cargo</label></td>
            <td><input id="cargoResponsable" type="text" name="cargoResponsable" [(ngModel)]="cargoResponsable" required /></td>
        </tr>
        <tr>
            <td><label for="correoResponsable">Correo</label></td>
            <td><input id="correoResponsable" type="email" name="correoResponsable" [(ngModel)]="correoResponsable" required /></td>
        </tr>
        <tr>
            <td><label for="telefonoResponsable">Teléfono</label></td>
            <td><input id="telefonoResponsable" type="tel" name="telefonoResponsable" [(ngModel)]="telefonoResponsable" required /></td>
        </tr>
    </table>
    <div>
        <button class="botonSig" (click)="nextStep()">Siguiente</button>
    </div>
</div>

<div *ngIf="currentStep === 2">
    <h3>Producción Mensual</h3>
    <table>
        <thead>
            <tr>
                <th>PRODUCTO</th>
                <th>DESCRIPCION</th>
                <th>UNIDAD</th>
                <th>ENERO</th>
                <th>FEBRERO</th>
                <th>MARZO</th>
                <th>ABRIL</th>
                <th>MAYO</th>
                <th>JUNIO</th>
                <th>JULIO</th>
                <th>AGOSTO</th>
                <th>SEPTIEMBRE</th>
                <th>OCTUBRE</th>
                <th>NOVIEMBRE</th>
                <th>DICIEMBRE</th>
                <th>TOTAL</th>
                <th>PROMEDIO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="producto" type="text" name="producto" [(ngModel)]="producto" /></td>
                <td><input id="descripcion" type="text" name="descripcion" [(ngModel)]="descripcion" /></td>
                <td>m<sup>3</sup></td>
                <td><input id="enero" type="number" name="enero" [(ngModel)]="enero" required /></td>
                <td><input id="febrero" type="number" name="febrero" [(ngModel)]="febrero" required /></td>
                <td><input id="marzo" type="number" name="marzo" [(ngModel)]="marzo" required /></td>
                <td><input id="abril" type="number" name="abril" [(ngModel)]="abril" required /></td>
                <td><input id="mayo" type="number" name="mayo" [(ngModel)]="mayo" required /></td>
                <td><input id="junio" type="number" name="junio" [(ngModel)]="junio" required /></td>
                <td><input id="julio" type="number" name="julio" [(ngModel)]="julio" required /></td>
                <td><input id="agosto" type="number" name="agosto" [(ngModel)]="agosto" required /></td>
                <td><input id="septiembre" type="number" name="septiembre" [(ngModel)]="septiembre" required /></td>
                <td><input id="octubre" type="number" name="octubre" [(ngModel)]="octubre" required /></td>
                <td><input id="noviembre" type="number" name="noviembre" [(ngModel)]="noviembre" required /></td>
                <td><input id="diciembre" type="number" name="diciembre" [(ngModel)]="diciembre" required /></td>
                <td><input id="total" type="number" name="total" value="0" step="0.001" readonly/></td>
                <td><input id="promedio" type="number" name="promedio" value="0" step="0.001" readonly/></td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-12">
        <button class="botonAnt" (click)="previousStep()">Anterior</button>
        <button class="botonSig" (click)="nextStep()">Siguiente</button>
    </div>
</div>



<div *ngIf="currentStep == 3">
    <h3>Entradas de Agua</h3>

    <h4>Entrada Mensual de Agua Potable</h4>
    <table>
        <thead>
            <tr>
                <th>Fuente - Uso/Equipo</th>
                <th>UNIDAD</th>
                <th>ENERO</th>
                <th>FEBRERO</th>
                <th>MARZO</th>
                <th>ABRIL</th>
                <th>MAYO</th>
                <th>JUNIO</th>
                <th>JULIO</th>
                <th>AGOSTO</th>
                <th>SEPTIEMBRE</th>
                <th>OCTUBRE</th>
                <th>NOVIEMBRE</th>
                <th>DICIEMBRE</th>
                <th>TOTAL</th>
                <th>PROMEDIO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="aguaPotableMensualUso" [(ngModel)]="aguaPotableMensualUso" /></td>
                <td>m<sup>3</sup></td>
                <td><input type="number" id="aguaPotableMensualEnero" [(ngModel)]="aguaPotableMensualEnero" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualFebrero" [(ngModel)]="aguaPotableMensualFebrero" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualMarzo" [(ngModel)]="aguaPotableMensualMarzo" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualAbril" [(ngModel)]="aguaPotableMensualAbril" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualMayo" [(ngModel)]="aguaPotableMensualMayo" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualJunio" [(ngModel)]="aguaPotableMensualJunio" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualJulio" [(ngModel)]="aguaPotableMensualJulio" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualAgosto" [(ngModel)]="aguaPotableMensualAgosto" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualSeptiembre" [(ngModel)]="aguaPotableMensualSeptiembre" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualOctubre" [(ngModel)]="aguaPotableMensualOctubre" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualNoviembre" [(ngModel)]="aguaPotableMensualNoviembre" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualDiciembre" [(ngModel)]="aguaPotableMensualDiciembre" value="0" step="0.001" /></td>
                <td><input type="number" id="aguaPotableMensualTotal"  value="0" step="0.001" readonly /></td>
                <td><input type="number" id="aguaPotableMensualPorcentaje"  value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>
    
    <h4>Entrada Mensual de Agua de Pozo</h4>
    <table>
        <thead>
            <tr>
                <th>Fuente - Uso/Equipo</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Total</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="aguaPozoFuenteUso" [(ngModel)]="aguaPozoFuenteUso" required /></td>
                <td>m<sup>3</sup></td>
                <td><input type="number" id="aguaPozoEnero" [(ngModel)]="aguaPozoEnero" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoFebrero" [(ngModel)]="aguaPozoFebrero" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoMarzo" [(ngModel)]="aguaPozoMarzo" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoAbril" [(ngModel)]="aguaPozoAbril" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoMayo" [(ngModel)]="aguaPozoMayo" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoJunio" [(ngModel)]="aguaPozoJunio" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoJulio" [(ngModel)]="aguaPozoJulio" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoAgosto" [(ngModel)]="aguaPozoAgosto" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoSeptiembre" [(ngModel)]="aguaPozoSeptiembre" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoOctubre" [(ngModel)]="aguaPozoOctubre" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoNoviembre" [(ngModel)]="aguaPozoNoviembre" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoDiciembre" [(ngModel)]="aguaPozoDiciembre" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaPozoTotal"  value="0" step="0.001" readonly /></td>
                <td><input type="number" id="aguaPozoPorcentaje"  value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>
    
    <h4>Entrada Mensual de Agua Dulce de Fuentes Superficiales</h4>
    <table>
        <thead>
            <tr>
                <th>Fuente - Uso/Equipo</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Promedio</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="aguaSuperficialFuenteUso" [(ngModel)]="aguaSuperficialFuenteUso" required /></td>
                <td>m<sup>3</sup></td>
                <td><input type="number" id="aguaSuperficialEnero" [(ngModel)]="aguaSuperficialEnero" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialFebrero" [(ngModel)]="aguaSuperficialFebrero" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialMarzo" [(ngModel)]="aguaSuperficialMarzo" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialAbril" [(ngModel)]="aguaSuperficialAbril" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialMayo" [(ngModel)]="aguaSuperficialMayo" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialJunio" [(ngModel)]="aguaSuperficialJunio" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialJulio" [(ngModel)]="aguaSuperficialJulio" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialAgosto" [(ngModel)]="aguaSuperficialAgosto" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialSeptiembre" [(ngModel)]="aguaSuperficialSeptiembre" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialOctubre" [(ngModel)]="aguaSuperficialOctubre" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialNoviembre" [(ngModel)]="aguaSuperficialNoviembre" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialDiciembre" [(ngModel)]="aguaSuperficialDiciembre" value="0" step="0.001" required /></td>
                <td><input type="number" id="aguaSuperficialPromedio"  value="0" step="0.001" readonly /></td>
                <td><input type="number" id="aguaSuperficialTotal"  value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>




    <div class="col-md-12">
        <button class="botonAnt" (click)="previousStep()">Anterior</button>
        <button class="botonSig" (click)="nextStep()">Siguiente</button>
    </div>
</div>
<div *ngIf="currentStep == 4">
    <h2>SALIDA DE AGUA</h2><br>

    <!-- Salida Mensual de Agua Descargada -->
    <h3>Salida Mensual de Agua Descargada</h3>
    <table>
        <thead>
            <tr>
                <th>Proceso/Equipo Relacionado</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Total</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="procesoAguaDescargada" type="text" [(ngModel)]="salidaAguaDescargadaProceso" required /></td>
                <td>m<sup>3</sup></td>
                <td><input id="eneroAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaEnero" value="0" step="0.001" required /></td>
                <td><input id="febreroAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaFebrero" value="0" step="0.001" required /></td>
                <td><input id="marzoAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaMarzo" value="0" step="0.001" required /></td>
                <td><input id="abrilAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaAbril" value="0" step="0.001" required /></td>
                <td><input id="mayoAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaMayo" value="0" step="0.001" required /></td>
                <td><input id="junioAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaJunio" value="0" step="0.001" required /></td>
                <td><input id="julioAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaJulio" value="0" step="0.001" required /></td>
                <td><input id="agostoAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaAgosto" value="0" step="0.001" required /></td>
                <td><input id="septiembreAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaSeptiembre" value="0" step="0.001" required /></td>
                <td><input id="octubreAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaOctubre" value="0" step="0.001" required /></td>
                <td><input id="noviembreAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaNoviembre" value="0" step="0.001" required /></td>
                <td><input id="diciembreAguaDescargada" type="number" [(ngModel)]="salidaAguaDescargadaDiciembre" value="0" step="0.001" required /></td>
                <td><input id="totalAguaDescargada" type="number"  value="0" step="0.001" readonly /></td>
                <td><input id="promedioAguaDescargada" type="number"  value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>

    <!-- Salida Mensual de Agua Infiltrada -->
    <h3>Salida Mensual de Agua Infiltrada</h3>
    <table>
        <thead>
            <tr>
                <th>Proceso/Equipo Relacionado</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Total</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="procesoAguaInfiltrada" type="text" [(ngModel)]="salidaAguaInfiltradaProceso" required /></td>
                <td>m<sup>3</sup></td>
                <td><input id="eneroAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaEnero" value="0" step="0.001" required /></td>
                <td><input id="febreroAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaFebrero" value="0" step="0.001" required /></td>
                <td><input id="marzoAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaMarzo" value="0" step="0.001" required /></td>
                <td><input id="abrilAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaAbril" value="0" step="0.001" required /></td>
                <td><input id="mayoAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaMayo" value="0" step="0.001" required /></td>
                <td><input id="junioAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaJunio" value="0" step="0.001" required /></td>
                <td><input id="julioAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaJulio" value="0" step="0.001" required /></td>
                <td><input id="agostoAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaAgosto" value="0" step="0.001" required /></td>
                <td><input id="septiembreAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaSeptiembre" value="0" step="0.001" required /></td>
                <td><input id="octubreAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaOctubre" value="0" step="0.001" required /></td>
                <td><input id="noviembreAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaNoviembre" value="0" step="0.001" required /></td>
                <td><input id="diciembreAguaInfiltrada" type="number" [(ngModel)]="salidaAguaInfiltradaDiciembre" value="0" step="0.001" required /></td>
                <td><input id="totalAguaInfiltrada" type="number"  value="0" step="0.001" readonly /></td>
                <td><input id="promedioAguaInfiltrada" type="number"  value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>

    <!-- Salida Mensual de Agua Consumida -->
    <h3>Salida Mensual de Agua Consumida</h3>
    <table>
        <thead>
            <tr>
                <th>Proceso/Equipo Relacionado</th>
                <th>Unidad</th>
                <th>Enero</th>
                <th>Febrero</th>
                <th>Marzo</th>
                <th>Abril</th>
                <th>Mayo</th>
                <th>Junio</th>
                <th>Julio</th>
                <th>Agosto</th>
                <th>Septiembre</th>
                <th>Octubre</th>
                <th>Noviembre</th>
                <th>Diciembre</th>
                <th>Total</th>
                <th>Promedio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input id="procesoAguaConsumida" type="text" [(ngModel)]="salidaAguaConsumidaProceso" required /></td>
                <td>m<sup>3</sup></td>
                <td><input id="eneroAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaEnero" value="0" step="0.001" required /></td>
                <td><input id="febreroAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaFebrero" value="0" step="0.001" required /></td>
                <td><input id="marzoAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaMarzo" value="0" step="0.001" required /></td>
                <td><input id="abrilAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaAbril" value="0" step="0.001" required /></td>
                <td><input id="mayoAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaMayo" value="0" step="0.001" required /></td>
                <td><input id="junioAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaJunio" value="0" step="0.001" required /></td>
                <td><input id="julioAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaJulio" value="0" step="0.001" required /></td>
                <td><input id="agostoAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaAgosto" value="0" step="0.001" required /></td>
                <td><input id="septiembreAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaSeptiembre" value="0" step="0.001" required /></td>
                <td><input id="octubreAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaOctubre" value="0" step="0.001" required /></td>
                <td><input id="noviembreAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaNoviembre" value="0" step="0.001" required /></td>
                <td><input id="diciembreAguaConsumida" type="number" [(ngModel)]="salidaAguaConsumidaDiciembre" value="0" step="0.001" required /></td>
                <td><input id="totalAguaConsumida" type="number"  value="0" step="0.001" readonly /></td>
                <td><input id="promedioAguaConsumida" type="number"  value="0" step="0.001" readonly /></td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-12">
        <button class="botonAnt" (click)="previousStep()">Anterior</button>
        <button class="botonSig" (click)="nextStep()">Siguiente</button>
    </div>
</div>
<!-- Calidad de las Aguas Descargadas -->
<div *ngIf="currentStep == 5">
    <h3>CALIDAD DE LAS AGUAS DESCARGADAS</h3>
    <table>
        <thead>
            <tr>
                <th>PARÁMETRO</th>
                <th>ABREVIACIÓN</th>
                <th>UNIDAD</th>
                <th>ENERO</th>
                <th>FEBRERO</th>
                <th>MARZO</th>
                <th>ABRIL</th>
                <th>MAYO</th>
                <th>JUNIO</th>
                <th>JULIO</th>
                <th>AGOSTO</th>
                <th>SEPTIEMBRE</th>
                <th>OCTUBRE</th>
                <th>NOVIEMBRE</th>
                <th>DICIEMBRE</th>
                <th>MIN</th>
                <th>MAX</th>
                <th>PROMEDIO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NITRÓGENO TOTAL</td>
                <td>N</td>
                <td>[mg/L]</td>
                <td><input id="nitrogenoEnero" type="number" [(ngModel)]="nitrogenoEnero" value="0" step="0.001" /></td>
                <td><input id="nitrogenoFebrero" type="number" [(ngModel)]="nitrogenoFebrero" value="0" step="0.001" /></td>
                <td><input id="nitrogenoMarzo" type="number" [(ngModel)]="nitrogenoMarzo" value="0" step="0.001" /></td>
                <td><input id="nitrogenoAbril" type="number" [(ngModel)]="nitrogenoAbril" value="0" step="0.001" /></td>
                <td><input id="nitrogenoMayo" type="number" [(ngModel)]="nitrogenoMayo" value="0" step="0.001" /></td>
                <td><input id="nitrogenoJunio" type="number" [(ngModel)]="nitrogenoJunio" value="0" step="0.001" /></td>
                <td><input id="nitrogenoJulio" type="number" [(ngModel)]="nitrogenoJulio" value="0" step="0.001" /></td>
                <td><input id="nitrogenoAgosto" type="number" [(ngModel)]="nitrogenoAgosto" value="0" step="0.001" /></td>
                <td><input id="nitrogenoSeptiembre" type="number" [(ngModel)]="nitrogenoSeptiembre" value="0" step="0.001" /></td>
                <td><input id="nitrogenoOctubre" type="number" [(ngModel)]="nitrogenoOctubre" value="0" step="0.001" /></td>
                <td><input id="nitrogenoNoviembre" type="number" [(ngModel)]="nitrogenoNoviembre" value="0" step="0.001" /></td>
                <td><input id="nitrogenoDiciembre" type="number" [(ngModel)]="nitrogenoDiciembre" value="0" step="0.001" /></td>
                <td><input id="nitrogenoMin" type="number" value="0" step="0.001" readonly/></td>
                <td><input id="nitrogenoMax" type="number"  value="0" step="0.001"readonly /></td>
                <td><input id="nitrogenoPromedio" type="number" value="0" step="0.001" readonly/></td>

            </tr>
            <tr>
                <td>NITRÓGENO TOTAL KJELDAHL</td>
                <td>NTK</td>
                <td>[mg/L]</td>
                <td><input id="nitrogenoKjeldahlEnero" type="number" [(ngModel)]="nitrogenoKjeldahlEnero" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlFebrero" type="number" [(ngModel)]="nitrogenoKjeldahlFebrero" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlMarzo" type="number" [(ngModel)]="nitrogenoKjeldahlMarzo" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlAbril" type="number" [(ngModel)]="nitrogenoKjeldahlAbril" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlMayo" type="number" [(ngModel)]="nitrogenoKjeldahlMayo" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlJunio" type="number" [(ngModel)]="nitrogenoKjeldahlJunio" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlJulio" type="number" [(ngModel)]="nitrogenoKjeldahlJulio" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlAgosto" type="number" [(ngModel)]="nitrogenoKjeldahlAgosto" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlSeptiembre" type="number" [(ngModel)]="nitrogenoKjeldahlSeptiembre" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlOctubre" type="number" [(ngModel)]="nitrogenoKjeldahlOctubre" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlNoviembre" type="number" [(ngModel)]="nitrogenoKjeldahlNoviembre" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlDiciembre" type="number" [(ngModel)]="nitrogenoKjeldahlDiciembre" value="0" step="0.001" /></td>
                <td><input id="nitrogenoKjeldahlMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="nitrogenoKjeldahlMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="nitrogenoKjeldahlPromedio" type="number" value="0" step="0.001" readonly/></td>

            </tr>
            <tr>
                <td>FÓSFORO TOTAL</td>
                <td>P</td>
                <td>[mg/L]</td>
                <td><input id="fosforoTotalEnero" type="number" [(ngModel)]="fosforoTotalEnero" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalFebrero" type="number" [(ngModel)]="fosforoTotalFebrero" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalMarzo" type="number" [(ngModel)]="fosforoTotalMarzo" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalAbril" type="number" [(ngModel)]="fosforoTotalAbril" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalMayo" type="number" [(ngModel)]="fosforoTotalMayo" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalJunio" type="number" [(ngModel)]="fosforoTotalJunio" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalJulio" type="number" [(ngModel)]="fosforoTotalJulio" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalAgosto" type="number" [(ngModel)]="fosforoTotalAgosto" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalSeptiembre" type="number" [(ngModel)]="fosforoTotalSeptiembre" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalOctubre" type="number" [(ngModel)]="fosforoTotalOctubre" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalNoviembre" type="number" [(ngModel)]="fosforoTotalNoviembre" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalDiciembre" type="number" [(ngModel)]="fosforoTotalDiciembre" value="0" step="0.001" /></td>
                <td><input id="fosforoTotalMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="fosforoTotalMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="fosforoTotalPromedio" type="number"  value="0" step="0.001" readonly/></td>

            </tr>
            <tr>
                <td>FOSFATO</td>
                <td>PO4</td>
                <td>[mg/L]</td>
                <td><input id="fosfatoEnero" type="number" [(ngModel)]="fosfatoEnero" value="0" step="0.001" /></td>
                <td><input id="fosfatoFebrero" type="number" [(ngModel)]="fosfatoFebrero" value="0" step="0.001" /></td>
                <td><input id="fosfatoMarzo" type="number" [(ngModel)]="fosfatoMarzo" value="0" step="0.001" /></td>
                <td><input id="fosfatoAbril" type="number" [(ngModel)]="fosfatoAbril" value="0" step="0.001" /></td>
                <td><input id="fosfatoMayo" type="number" [(ngModel)]="fosfatoMayo" value="0" step="0.001" /></td>
                <td><input id="fosfatoJunio" type="number" [(ngModel)]="fosfatoJunio" value="0" step="0.001" /></td>
                <td><input id="fosfatoJulio" type="number" [(ngModel)]="fosfatoJulio" value="0" step="0.001" /></td>
                <td><input id="fosfatoAgosto" type="number" [(ngModel)]="fosfatoAgosto" value="0" step="0.001" /></td>
                <td><input id="fosfatoSeptiembre" type="number" [(ngModel)]="fosfatoSeptiembre" value="0" step="0.001" /></td>
                <td><input id="fosfatoOctubre" type="number" [(ngModel)]="fosfatoOctubre" value="0" step="0.001" /></td>
                <td><input id="fosfatoNoviembre" type="number" [(ngModel)]="fosfatoNoviembre" value="0" step="0.001" /></td>
                <td><input id="fosfatoDiciembre" type="number" [(ngModel)]="fosfatoDiciembre" value="0" step="0.001" /></td>
                <td><input id="fosfatoMin" type="number"  value="0" step="0.001" readonly /></td>
                <td><input id="fosfatoMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="fosfatoPromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
            <tr>
                <td>DEMANDA QUÍMICA DE OXÍGENO</td>
                <td>DQO</td>
                <td>[mg/L]</td>
                <td><input id="dqoEnero" type="number" [(ngModel)]="dqoEnero" value="0" step="0.001" /></td>
                <td><input id="dqoFebrero" type="number" [(ngModel)]="dqoFebrero" value="0" step="0.001" /></td>
                <td><input id="dqoMarzo" type="number" [(ngModel)]="dqoMarzo" value="0" step="0.001" /></td>
                <td><input id="dqoAbril" type="number" [(ngModel)]="dqoAbril" value="0" step="0.001" /></td>
                <td><input id="dqoMayo" type="number" [(ngModel)]="dqoMayo" value="0" step="0.001" /></td>
                <td><input id="dqoJunio" type="number" [(ngModel)]="dqoJunio" value="0" step="0.001" /></td>
                <td><input id="dqoJulio" type="number" [(ngModel)]="dqoJulio" value="0" step="0.001" /></td>
                <td><input id="dqoAgosto" type="number" [(ngModel)]="dqoAgosto" value="0" step="0.001" /></td>
                <td><input id="dqoSeptiembre" type="number" [(ngModel)]="dqoSeptiembre" value="0" step="0.001" /></td>
                <td><input id="dqoOctubre" type="number" [(ngModel)]="dqoOctubre" value="0" step="0.001" /></td>
                <td><input id="dqoNoviembre" type="number" [(ngModel)]="dqoNoviembre" value="0" step="0.001" /></td>
                <td><input id="dqoDiciembre" type="number" [(ngModel)]="dqoDiciembre" value="0" step="0.001" /></td>
                <td><input id="dqoMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="dqoMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="dqoPromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
            <tr>
                <td>DEMANDA BIOLÓGICA DE OXÍGENO</td>
                <td>DBO</td>
                <td>[mg/L]</td>
                <td><input id="dboEnero" type="number" [(ngModel)]="dboEnero" value="0" step="0.001" /></td>
                <td><input id="dboFebrero" type="number" [(ngModel)]="dboFebrero" value="0" step="0.001" /></td>
                <td><input id="dboMarzo" type="number" [(ngModel)]="dboMarzo" value="0" step="0.001" /></td>
                <td><input id="dboAbril" type="number" [(ngModel)]="dboAbril" value="0" step="0.001" /></td>
                <td><input id="dboMayo" type="number" [(ngModel)]="dboMayo" value="0" step="0.001" /></td>
                <td><input id="dboJunio" type="number" [(ngModel)]="dboJunio" value="0" step="0.001" /></td>
                <td><input id="dboJulio" type="number" [(ngModel)]="dboJulio" value="0" step="0.001" /></td>
                <td><input id="dboAgosto" type="number" [(ngModel)]="dboAgosto" value="0" step="0.001" /></td>
                <td><input id="dboSeptiembre" type="number" [(ngModel)]="dboSeptiembre" value="0" step="0.001" /></td>
                <td><input id="dboOctubre" type="number" [(ngModel)]="dboOctubre" value="0" step="0.001" /></td>
                <td><input id="dboNoviembre" type="number" [(ngModel)]="dboNoviembre" value="0" step="0.001" /></td>
                <td><input id="dboDiciembre" type="number" [(ngModel)]="dboDiciembre" value="0" step="0.001" /></td>
                <td><input id="dboMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="dboMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="dboPromedio" type="number"  value="0" step="0.001" readonly/></td>

            </tr>
            <tr>
                <td>ARSÉNICO</td>
                <td>As</td>
                <td>[mg/L]</td>
                <td><input id="arsenicoEnero" type="number" [(ngModel)]="arsenicoEnero" value="0" step="0.001" /></td>
                <td><input id="arsenicoFebrero" type="number" [(ngModel)]="arsenicoFebrero" value="0" step="0.001" /></td>
                <td><input id="arsenicoMarzo" type="number" [(ngModel)]="arsenicoMarzo" value="0" step="0.001" /></td>
                <td><input id="arsenicoAbril" type="number" [(ngModel)]="arsenicoAbril" value="0" step="0.001" /></td>
                <td><input id="arsenicoMayo" type="number" [(ngModel)]="arsenicoMayo" value="0" step="0.001" /></td>
                <td><input id="arsenicoJunio" type="number" [(ngModel)]="arsenicoJunio" value="0" step="0.001" /></td>
                <td><input id="arsenicoJulio" type="number" [(ngModel)]="arsenicoJulio" value="0" step="0.001" /></td>
                <td><input id="arsenicoAgosto" type="number" [(ngModel)]="arsenicoAgosto" value="0" step="0.001" /></td>
                <td><input id="arsenicoSeptiembre" type="number" [(ngModel)]="arsenicoSeptiembre" value="0" step="0.001" /></td>
                <td><input id="arsenicoOctubre" type="number" [(ngModel)]="arsenicoOctubre" value="0" step="0.001" /></td>
                <td><input id="arsenicoNoviembre" type="number" [(ngModel)]="arsenicoNoviembre" value="0" step="0.001" /></td>
                <td><input id="arsenicoDiciembre" type="number" [(ngModel)]="arsenicoDiciembre" value="0" step="0.001" /></td>
                <td><input id="arsenicoMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="arsenicoMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="arsenicoPromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
            <tr>
                <td>CADMIO</td>
                <td>Cd</td>
                <td>[mg/L]</td>
                <td><input id="cadmioEnero" type="number" [(ngModel)]="cadmioEnero" value="0" step="0.001" /></td>
                <td><input id="cadmioFebrero" type="number" [(ngModel)]="cadmioFebrero" value="0" step="0.001" /></td>
                <td><input id="cadmioMarzo" type="number" [(ngModel)]="cadmioMarzo" value="0" step="0.001" /></td>
                <td><input id="cadmioAbril" type="number" [(ngModel)]="cadmioAbril" value="0" step="0.001" /></td>
                <td><input id="cadmioMayo" type="number" [(ngModel)]="cadmioMayo" value="0" step="0.001" /></td>
                <td><input id="cadmioJunio" type="number" [(ngModel)]="cadmioJunio" value="0" step="0.001" /></td>
                <td><input id="cadmioJulio" type="number" [(ngModel)]="cadmioJulio" value="0" step="0.001" /></td>
                <td><input id="cadmioAgosto" type="number" [(ngModel)]="cadmioAgosto" value="0" step="0.001" /></td>
                <td><input id="cadmioSeptiembre" type="number" [(ngModel)]="cadmioSeptiembre" value="0" step="0.001" /></td>
                <td><input id="cadmioOctubre" type="number" [(ngModel)]="cadmioOctubre" value="0" step="0.001" /></td>
                <td><input id="cadmioNoviembre" type="number" [(ngModel)]="cadmioNoviembre" value="0" step="0.001" /></td>
                <td><input id="cadmioDiciembre" type="number" [(ngModel)]="cadmioDiciembre" value="0" step="0.001" /></td>
                <td><input id="cadmioMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="cadmioMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="cadmioPromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
            <tr>
                <td>CROMO</td>
                <td>Cr</td>
                <td>[mg/L]</td>
                <td><input id="cromoEnero" type="number" [(ngModel)]="cromoEnero" value="0" step="0.001" /></td>
                <td><input id="cromoFebrero" type="number" [(ngModel)]="cromoFebrero" value="0" step="0.001" /></td>
                <td><input id="cromoMarzo" type="number" [(ngModel)]="cromoMarzo" value="0" step="0.001" /></td>
                <td><input id="cromoAbril" type="number" [(ngModel)]="cromoAbril" value="0" step="0.001" /></td>
                <td><input id="cromoMayo" type="number" [(ngModel)]="cromoMayo" value="0" step="0.001" /></td>
                <td><input id="cromoJunio" type="number" [(ngModel)]="cromoJunio" value="0" step="0.001" /></td>
                <td><input id="cromoJulio" type="number" [(ngModel)]="cromoJulio" value="0" step="0.001" /></td>
                <td><input id="cromoAgosto" type="number" [(ngModel)]="cromoAgosto" value="0" step="0.001" /></td>
                <td><input id="cromoSeptiembre" type="number" [(ngModel)]="cromoSeptiembre" value="0" step="0.001" /></td>
                <td><input id="cromoOctubre" type="number" [(ngModel)]="cromoOctubre" value="0" step="0.001" /></td>
                <td><input id="cromoNoviembre" type="number" [(ngModel)]="cromoNoviembre" value="0" step="0.001" /></td>
                <td><input id="cromoDiciembre" type="number" [(ngModel)]="cromoDiciembre" value="0" step="0.001" /></td>
                <td><input id="cromoMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="cromoMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="cromoPromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
            <tr>
                <td>COBRE</td>
                <td>Cu</td>
                <td>[mg/L]</td>
                <td><input id="cobreEnero" type="number" [(ngModel)]="cobreEnero" value="0" step="0.001" /></td>
                <td><input id="cobreFebrero" type="number" [(ngModel)]="cobreFebrero" value="0" step="0.001" /></td>
                <td><input id="cobreMarzo" type="number" [(ngModel)]="cobreMarzo" value="0" step="0.001" /></td>
                <td><input id="cobreAbril" type="number" [(ngModel)]="cobreAbril" value="0" step="0.001" /></td>
                <td><input id="cobreMayo" type="number" [(ngModel)]="cobreMayo" value="0" step="0.001" /></td>
                <td><input id="cobreJunio" type="number" [(ngModel)]="cobreJunio" value="0" step="0.001" /></td>
                <td><input id="cobreJulio" type="number" [(ngModel)]="cobreJulio" value="0" step="0.001" /></td>
                <td><input id="cobreAgosto" type="number" [(ngModel)]="cobreAgosto" value="0" step="0.001" /></td>
                <td><input id="cobreSeptiembre" type="number" [(ngModel)]="cobreSeptiembre" value="0" step="0.001" /></td>
                <td><input id="cobreOctubre" type="number" [(ngModel)]="cobreOctubre" value="0" step="0.001" /></td>
                <td><input id="cobreNoviembre" type="number" [(ngModel)]="cobreNoviembre" value="0" step="0.001" /></td>
                <td><input id="cobreDiciembre" type="number" [(ngModel)]="cobreDiciembre" value="0" step="0.001" /></td>
                <td><input id="cobreMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="cobreMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="cobrePromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
            <tr>
                <td>MERCURIO</td>
                <td>Hg</td>
                <td>[mg/L]</td>
                <td><input id="mercurioEnero" type="number" [(ngModel)]="mercurioEnero" value="0" step="0.001" /></td>
                <td><input id="mercurioFebrero" type="number" [(ngModel)]="mercurioFebrero" value="0" step="0.001" /></td>
                <td><input id="mercurioMarzo" type="number" [(ngModel)]="mercurioMarzo" value="0" step="0.001" /></td>
                <td><input id="mercurioAbril" type="number" [(ngModel)]="mercurioAbril" value="0" step="0.001" /></td>
                <td><input id="mercurioMayo" type="number" [(ngModel)]="mercurioMayo" value="0" step="0.001" /></td>
                <td><input id="mercurioJunio" type="number" [(ngModel)]="mercurioJunio" value="0" step="0.001" /></td>
                <td><input id="mercurioJulio" type="number" [(ngModel)]="mercurioJulio" value="0" step="0.001" /></td>
                <td><input id="mercurioAgosto" type="number" [(ngModel)]="mercurioAgosto" value="0" step="0.001" /></td>
                <td><input id="mercurioSeptiembre" type="number" [(ngModel)]="mercurioSeptiembre" value="0" step="0.001" /></td>
                <td><input id="mercurioOctubre" type="number" [(ngModel)]="mercurioOctubre" value="0" step="0.001" /></td>
                <td><input id="mercurioNoviembre" type="number" [(ngModel)]="mercurioNoviembre" value="0" step="0.001" /></td>
                <td><input id="mercurioDiciembre" type="number" [(ngModel)]="mercurioDiciembre" value="0" step="0.001" /></td>
                <td><input id="mercurioMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="mercurioMax" type="number" value="0" step="0.001" readonly/></td>
                <td><input id="mercurioPromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
            <tr>
                <td>NIQUEL</td>
                <td>Ni</td>
                <td>[mg/L]</td>
                <td><input id="niquelEnero" type="number" [(ngModel)]="niquelEnero" value="0" step="0.001" /></td>
                <td><input id="niquelFebrero" type="number" [(ngModel)]="niquelFebrero" value="0" step="0.001" /></td>
                <td><input id="niquelMarzo" type="number" [(ngModel)]="niquelMarzo" value="0" step="0.001" /></td>
                <td><input id="niquelAbril" type="number" [(ngModel)]="niquelAbril" value="0" step="0.001" /></td>
                <td><input id="niquelMayo" type="number" [(ngModel)]="niquelMayo" value="0" step="0.001" /></td>
                <td><input id="niquelJunio" type="number" [(ngModel)]="niquelJunio" value="0" step="0.001" /></td>
                <td><input id="niquelJulio" type="number" [(ngModel)]="niquelJulio" value="0" step="0.001" /></td>
                <td><input id="niquelAgosto" type="number" [(ngModel)]="niquelAgosto" value="0" step="0.001" /></td>
                <td><input id="niquelSeptiembre" type="number" [(ngModel)]="niquelSeptiembre" value="0" step="0.001" /></td>
                <td><input id="niquelOctubre" type="number" [(ngModel)]="niquelOctubre" value="0" step="0.001" /></td>
                <td><input id="niquelNoviembre" type="number" [(ngModel)]="niquelNoviembre" value="0" step="0.001" /></td>
                <td><input id="niquelDiciembre" type="number" [(ngModel)]="niquelDiciembre" value="0" step="0.001" /></td>
                <td><input id="niquelMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="niquelMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="niquelPromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
            <tr>
                <td>PLOMO</td>
                <td>Pb</td>
                <td>[mg/L]</td>
                <td><input id="plomoEnero" type="number" [(ngModel)]="plomoEnero" value="0" step="0.001" /></td>
                <td><input id="plomoFebrero" type="number" [(ngModel)]="plomoFebrero" value="0" step="0.001" /></td>
                <td><input id="plomoMarzo" type="number" [(ngModel)]="plomoMarzo" value="0" step="0.001" /></td>
                <td><input id="plomoAbril" type="number" [(ngModel)]="plomoAbril" value="0" step="0.001" /></td>
                <td><input id="plomoMayo" type="number" [(ngModel)]="plomoMayo" value="0" step="0.001" /></td>
                <td><input id="plomoJunio" type="number" [(ngModel)]="plomoJunio" value="0" step="0.001" /></td>
                <td><input id="plomoJulio" type="number" [(ngModel)]="plomoJulio" value="0" step="0.001" /></td>
                <td><input id="plomoAgosto" type="number" [(ngModel)]="plomoAgosto" value="0" step="0.001" /></td>
                <td><input id="plomoSeptiembre" type="number" [(ngModel)]="plomoSeptiembre" value="0" step="0.001" /></td>
                <td><input id="plomoOctubre" type="number" [(ngModel)]="plomoOctubre" value="0" step="0.001" /></td>
                <td><input id="plomoNoviembre" type="number" [(ngModel)]="plomoNoviembre" value="0" step="0.001" /></td>
                <td><input id="plomoDiciembre" type="number" [(ngModel)]="plomoDiciembre" value="0" step="0.001" /></td>
                <td><input id="plomoMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="plomoMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="plomoPromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
            <!-- Fila para Zinc -->
            <tr>
                <td>ZINC</td>
                <td>Zn</td>
                <td>[mg/L]</td>
                <td><input id="zincEnero" type="number" [(ngModel)]="zincEnero" value="0" step="0.001" /></td>
                <td><input id="zincFebrero" type="number" [(ngModel)]="zincFebrero" value="0" step="0.001" /></td>
                <td><input id="zincMarzo" type="number" [(ngModel)]="zincMarzo" value="0" step="0.001" /></td>
                <td><input id="zincAbril" type="number" [(ngModel)]="zincAbril" value="0" step="0.001" /></td>
                <td><input id="zincMayo" type="number" [(ngModel)]="zincMayo" value="0" step="0.001" /></td>
                <td><input id="zincJunio" type="number" [(ngModel)]="zincJunio" value="0" step="0.001" /></td>
                <td><input id="zincJulio" type="number" [(ngModel)]="zincJulio" value="0" step="0.001" /></td>
                <td><input id="zincAgosto" type="number" [(ngModel)]="zincAgosto" value="0" step="0.001" /></td>
                <td><input id="zincSeptiembre" type="number" [(ngModel)]="zincSeptiembre" value="0" step="0.001" /></td>
                <td><input id="zincOctubre" type="number" [(ngModel)]="zincOctubre" value="0" step="0.001" /></td>
                <td><input id="zincNoviembre" type="number" [(ngModel)]="zincNoviembre" value="0" step="0.001" /></td>
                <td><input id="zincDiciembre" type="number" [(ngModel)]="zincDiciembre" value="0" step="0.001" /></td>
                <td><input id="zincMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="zincMax" type="number" value="0" step="0.001"readonly /></td>
                <td><input id="zincPromedio" type="number"  value="0" step="0.001" readonly/></td>

            </tr>

            <!-- Fila para Pentaclorofenol -->
            <tr>
                <td>PENTACLOROFENOL</td>
                <td>C6OHCL5</td>
                <td>[mg/L]</td>
                <td><input id="pentaclorofenolEnero" type="number" [(ngModel)]="pentaclorofenolEnero" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolFebrero" type="number" [(ngModel)]="pentaclorofenolFebrero" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolMarzo" type="number" [(ngModel)]="pentaclorofenolMarzo" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolAbril" type="number" [(ngModel)]="pentaclorofenolAbril" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolMayo" type="number" [(ngModel)]="pentaclorofenolMayo" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolJunio" type="number" [(ngModel)]="pentaclorofenolJunio" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolJulio" type="number" [(ngModel)]="pentaclorofenolJulio" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolAgosto" type="number" [(ngModel)]="pentaclorofenolAgosto" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolSeptiembre" type="number" [(ngModel)]="pentaclorofenolSeptiembre" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolOctubre" type="number" [(ngModel)]="pentaclorofenolOctubre" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolNoviembre" type="number" [(ngModel)]="pentaclorofenolNoviembre" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolDiciembre" type="number" [(ngModel)]="pentaclorofenolDiciembre" value="0" step="0.001" /></td>
                <td><input id="pentaclorofenolMin" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="pentaclorofenolMax" type="number"  value="0" step="0.001" readonly/></td>
                <td><input id="pentaclorofenolPromedio" type="number"  value="0" step="0.001" readonly/></td>
            </tr>
        </tbody>
    </table>


    <div class="col-md-12">
        <button class="botonAnt" (click)="previousStep()">Anterior</button>
        <button class="botonSig" (click)="calcular()">Resultados</button>
    </div>
</div>