<nav>
  <div>
    <img src="https://i.ibb.co/55bXHZN/Logo-GH-Blanco.png" alt="Logo">
  </div>
  <div class="titulo">
    <a href="#">Plataforma de Visualización de Datos Meteorológicos</a>
  </div>
  <div class="dropdown">
    <i class="fas fa-list mx-2" id="menuDropdownIcon" (click)="toggleMenu()"></i>
    <ul class="dropdown-menu dropdown-menu-end" [class.show]="isMenuOpen" aria-labelledby="menuDropdownIcon">
      <li><a class="dropdown-item" [routerLink]="['/historicosEmpresa']">Datos históricos</a></li>
      <li><a class="dropdown-item">Datos cruzados</a></li>
      <li><a class="dropdown-item">Datos en tiempo real</a></li>
    </ul>
  </div>
  <div>
    <i class="fas fa-bell"></i> <!-- Ícono de notificaciones -->
    <i class="fas fa-cog"></i> <!-- Ícono de configuración -->
  </div>
</nav>
