/* navbar.component.css */
.navbar {
  background-color: #007bff;
  /* Color de fondo del navbar */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
  color: #000000;
  
  font-size: 24px;
  font-weight: bold;
}

.navbar .nav-link {
  color: #000000;
  padding: 8px 16px;
  font-size: 16px;
}

.navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.btn,btn-primary {
  margin-left: 5px;
}
.boton-x{
  border: 0;
  background-color: transparent;
}

.card {
  min-width: 30%;
  max-width: 60%;
  right: 0;
  z-index: 1;
  display: block;
  position: absolute;
}

.card-title {
  text-align: center;
}

#divNotificacion {
  width: 100%;
  height: 10%;

}

.x-notificacion {
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked+.slider {
  background-color: #33f321;
}

input:focus+.slider {
  box-shadow: 0 0 1px #3af321;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.a-d
{
  color: rgb(0, 0, 0);
  padding: 14px;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.s-text1{
  font-size: 15px;
  padding-right: 20px;
}
.s-text2{
  font-size: 15px;
  padding-left: 20px;
}