
h2 {
    text-align: center;
  }
  
  div {
    margin: 20px;
  }
  
  label {
    margin-right: 15px;
  }
  

  canvas {
    display: block;
    width: 80%; 
    height: 400px; 
    max-width: 100%; 
    max-height: 273px; 
  }

  .ultimosDatos{
    width: 20%;
  }
  