.container {
  max-width: 1800px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.mb-0 {
  color: white;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-header {
  background: #7474BF;
  background: -webkit-linear-gradient(to right, #366f97);
  background: linear-gradient(to right, #2194c2, #106372);
  color: white;
  padding: 15px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.card-body h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.card-body .btn-primary {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.card-body .btn-primary:hover {
  background-color: #0056b3;
}

.card-body app-dashboard {
  margin-top: 20px;
  display: block; /* Asegura que el componente se comporte como un bloque */
}
