<div class="container">
    <div style="text-align: center;display: flex;">
        <div class="col-md-6">
            <h4>Fecha de Inicio</h4>
            <input type="date" [(ngModel)]="fechaInicio">
        </div>
        <div class="col-md-6">
            <h4>Fecha Límite</h4>
            <input type="date" [(ngModel)]="fechaLimite">
        </div>
    </div>
    <div class="input-group mb-3 mt-3">
        <label class="input-group-text" for="inputGroupSelect01">Parámetro</label>
        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="selectedOption">
            <option *ngFor="let option of options">{{option.nombre}}</option>
        </select>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto text-center mb-3">
        <button type="button" class="btn btn-secondary btn-sm" (click)="guardar()">Guardar</button>
    </div>
    <div class="row">
        <ng-container *ngFor="let card of cards; let i = index">
            <div class="col-md-6" *ngIf="card.visible">
                <div class="card mb-3">
                    <canvas [attr.id]="card.id"></canvas>
                </div>
            </div>
        </ng-container>
    </div>
</div>
