h2 {
  color: white;
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  background: #7474BF;
  background: -webkit-linear-gradient(to right, #366f97);
  background: linear-gradient(to right, #187ea7, #106372);
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

ul.list-group {
  list-style-type: none;
  padding: 0;
}

.list-group-item {
  margin-bottom: 4px;
  padding: 10px 15px;
  background: #ffffff;
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
  border: 2px solid #2194c2 ;

}

.btn-link {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
}

.btn-link:hover {
  text-decoration: underline;
}

.repcom 
{
  font-size: 14px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 5px;
}