.container {
  padding-top: 0px;
}

.card {
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ultimosValores {
  list-style-type: none;
  padding: 0;
}

.card-body {
  padding: 0;
  text-align: center;
}

.card-title {
  font-size: 18px;
  margin-bottom:0;
  color: #000000;
  font-weight: bold;
  padding:0;
}

canvas {
  width: 100% !important;
  height: 300px !important;
}

@media (max-width: 768px) {
  canvas {
    height: 250px;
  }
}

.accordion-body {
  width: 100%;
}


.button-exportar {
  background-color: #1b5c01;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  min-width: 40%;
max-width: 40%;}

.dropdown-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.dropdown-menu {
  min-width: auto;
}
