
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.label{
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
  font-size: large;
}

canvas {
  width: 100% !important;
  height: 300px !important;
}

@media (max-width: 768px) {
  canvas {
    height: 250px;
  }
}
.ultimosValores {
  list-style: none;
  padding: 0;
}


