
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.label{
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
  font-size: large;
}

canvas {
  width: 100% !important;
  height: 300px !important;
}

@media (max-width: 768px) {
  canvas {
    height: 250px;
  }
}
.ultimosValores {
  text-justify: auto;
  line-height: 1.8;
  list-style: none;
  padding: 0;
}
.button-exportar {
  background-color: #1b5c01;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 10px 20px; 
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; 
  min-width: 40%; 
  max-width: 80%;
}

.dropdown-item {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}

