<div class="container">
  <div class="row accordion" id="accordionExample">
    <div class="col-md-4 mb-4" *ngFor="let card of cards; let i = index" [ngClass]="{'expanded': activeIndex === i}">
      <div class="card">
        <div class="card-body accordion-item">
          <h5 class="card-title accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i"
              (click)="toggleAccordion(i)">
              {{ card.title }}
            </button>
          </h5>
          <div class="accordion-body accordion-collapse collapse" [attr.id]="'collapse' + i" data-bs-parent="#accordionExample">
            <div class="row">
              <div class="col-md-4">
                <div class="card ultimosValores">
                  <ul class="ultimosValores">
                    <li *ngFor="let value of randomValues">
                      <span class="label" [innerHTML]="value.icon"></span>
                      <span class="label">{{ value.label }}:</span>
                      {{ value.value }} {{ value.nuevo }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <h4>Variable 2(Unidad)</h4>
                  <canvas [attr.id]="card.id"></canvas>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <h4>Variable 3(Unidad)</h4>
                  <canvas [attr.id]="card.id"></canvas>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <button class="button-exportar" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                Exportar
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" (click)="exportAs('excel', card.id)">Excel</a></li>
                <li><a class="dropdown-item" (click)="exportAs('csv', card.id)">CSV</a></li>
                <li><a class="dropdown-item" (click)="exportAs('pdf', card.id)">PDF</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
