<div class="container">
  <!-- Sección de Últimos Valores (muestra el último valor de cada gráfico) -->
  <div class="ultimosvalores">
    <div class="col-md-12">
      <div>
        <h4 class="ultimostitulos">Últimos Valores</h4>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Etiqueta</th>
            <th scope="col">Valor</th>
            <th scope="col">Unidad</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of cards">
            <td>{{card.title}}</td>
            <td>{{getLastValue(card.title)?.value}}</td>
            <td>{{getLastValue(card.title)?.unit || ''}}</td>
            <td>{{getLastValue(card.title)?.fecha}}</td>
            <td>{{getLastValue(card.title)?.hora}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Sección de Gráficos y Tablas -->
  <div class="row accordion" id="accordionExample">
    <ng-container *ngFor="let card of cards; let i = index">
      <div class="col-md-4 mb-4" *ngIf="card.visible" [ngClass]="{'expanded': activeIndex === i}">
        <div class="card-principal">
          <div class="card-body accordion-item">
            <h5 class="card-title accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i"
                (click)="toggleAccordion(i)">
                {{ card.title }}
              </button>
            </h5>
            <div class="accordion-body accordion-collapse collapse" [attr.id]="'collapse' + i"
              data-bs-parent="#accordionExample">
              <div class="row">
                <!-- Gráfico -->
                <div class="col-md-6">
                  <div class="card">
                    <canvas [attr.id]="card.id"></canvas>
                  </div>
                </div>

                <!-- Tabla de valores correspondientes al gráfico -->
                <div class="col-md-6">
                  <div class="card">
                    <div class="scroll" style="max-height: 300px; overflow-y: auto;">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Hora</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Mostrar los últimos 10 valores de la variable seleccionada -->
                          <tr *ngFor="let data of getFilteredData(card.title)">
                            <td class="col-md-4">{{data.fecha}}</td>
                            <td class="col-md-4">{{data.value}}</td>
                            <td class="col-md-4">{{data.hora}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
