
.table-produccion-mensual th,
.table-produccion-mensual td {
  min-width: 100px;
}

.table-produccion-mensual th{
  text-align: center;
  border: 0;
}

.table-produccion-mensual tfoot th{
  text-align: left;
}

.table-produccion-mensual tfoot input{
  border: 0;
}

.table-produccion-mensual td{
  padding: 0 5px;
  border: 0;
}
